.ingresoPrincipal{
    width: 50%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.mostrar{
    display:flex;
}

.ocultar{
    display:none;
}

.mostrarDatos{
    width: 50%;
    border-style: dotted;
    border-width: 2px;
    border-radius: 5px;
    margin:auto;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align:center;
    padding: 10px;

}

.centrar{
    text-align:center;
}

.background{
    background-image: url("../src/mountain.jpg");
}

.casilla{
    width: 90%;
}

.primerSeccion, 
.segundaSeccion,
.tercerSeccion,
.cuartaSeccion,
.finalizar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 0;;
}

.options{
    list-style: none;
}
